<div class="min-h-screen flex flex-col sm:flex-row">
  <div class="sm:w-64 sm:block flex justify-between w-full bg-gray-800 text-white p-4 ">
    <h2 class="text-xl font-bold mb-6 text-center">Produtos</h2>
    <nav>
      <ul class="space-y-4 cursor-pointer text-center">
        <li>
          <a routerLink="/" routerLinkActive="underline" [routerLinkActiveOptions]="{ exact: true }"
            class="block hover:bg-gray-900 hover:text-white rounded">Home</a>
        </li>
        <li>
          <a routerLink="/products" routerLinkActive="underline" [routerLinkActiveOptions]="{ exact: true }"
            class="block hover:bg-gray-900 hover:text-white rounded">Lista de Produtos</a>
        </li>
        <li>
          <a routerLink="/register" routerLinkActive="underline" [routerLinkActiveOptions]="{ exact: true }"
            class="block hover:bg-gray-900 hover:text-white rounded">Cadastrar Produto</a>
        </li>
      </ul>
    </nav>
  </div>

  <div class="flex-1 flex items-center justify-center bg-gray-950">

    <router-outlet></router-outlet>
  </div>
</div>